<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Chameleon for Web</title>
    <meta name="author" content="Kaart">
    <script src="{{url_for('static', filename='main.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

</head>

<body onload="main()">
    <h1>Chameleon for Web</h1>
    <form enctype="multipart/form-data" onsubmit="return onSubmit();" method="POST" action="/result/">
        <label>Old file
        <input type="file" name="old" required></label>
        <br>
        <label>New file
        <input type="file" name="new" required></label>
        <br>
        <label>Output file name
        <input type="text" name="output"></label>
        <br>
        <label>Enter tag:
        <input type="text" id="tagentry_id"></label><button type="button" onclick="addToList();">Add</button>
        <br>
        <select name="modes" size="10" id="taglist" multiple>
        </select>
        <br>
        <p>File format:</p>
        <label>Excel<input value="excel" type="radio" name="file_format" checked></label>
        <br>
        <label>GeoJSON<input value="geojson" type="radio" name="file_format"></label>
        <br>
        <label>CSV<input value="csv" type="radio" name="file_format"></label>
        <br>
        <label>Group rows by type of change
        <input type="checkbox" name="grouping"></label>
        <br>
        <button name="run" type="submit">Run</button>
    </form>

</body>

</html>