<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Chameleon for Web</title>
    <meta name="author" content="Kaart">

    <link rel="stylesheet" href="main.css">

</head>

<body>
    <h1>Chameleon for Web</h1>
    <form enctype="multipart/form-data">
        <input type="file" name="old" required>
        <input type="file" name="new" required>
        <input type="text" names="output">
        <input type="text" name="tagentry">
        <select name="taglist"></select>
        <input type="checkbox" name="grouping">
        <button name="run" type="submit">Run</button>
    </form>

</body>

</html>