<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Chameleon for Web</title>
    <meta name="author" content="Kaart">

    <link rel="stylesheet" href="main.css">

</head>

<body>
    <h1>Chameleon for Web</h1>
    <form>
        <input type="text" id="country">
        <input type="date" id="startdate">
        <input type="date" id="enddate">
        <input type="text" id="tagentry">
        <select id="taglist"></select>
        <input type="checkbox" id="grouping">
        <input type="button" </form>

</body>

</html>