select {
    min-width: 20em;
}

label#progressbarlabel {
    /* Initial state before data starts getting returned */
    display: none;
}

.tabcontainer>.tabbedpage:target~.tabbedpage:last-child,
.tabcontainer>.tabbedpage {
    display: none;
}

.tabcontainer> :last-child,
.tabcontainer>.tabbedpage:target {
    display: block;
}

label {
    display: block;
}
ul#tabmenu li {
    display: inline;
}