select {
    min-width: 20em;
}

label#progressbarlabel {
    display: none;
}

.tabcontainer>.tabbedpage:target~.tabbedpage:last-child,
.tabcontainer>.tabbedpage {
    display: none;
}

.tabcontainer> :last-child,
.tabcontainer>.tabbedpage:target {
    display: block;
}